/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-image: url("../img/background.jpg");
}

a {
    color: #392D2D;
}

a:hover {
    color: #9F0004;
    text-decoration: none;
}

/****************************************
            !! NAVIGATION !! 
****************************************/

header h1 {
    margin: 0;
}

.navbar .nav {
    float: right;
}

    ul.nav {
        padding: 14px 0 14px 0;
    }

    .navbar .nav>li {
        padding: 0 10px 0 0;
        width: 90px;
        height: 42px;
    }

.navbar-inverse .nav a{
    text-align: center;
}
    .navbar-inverse .nav .active>a {
        color: #E6E6E6;
        background-color: #5E6053;
        border-radius: 10px;
        text-align: center;
    }

    .navbar-inverse .nav .active>a:hover {
        background-color: #383838;
    }

.navbar-inverse .nav>li>a:hover {
    background-color: transparent;
    color: #EAEAEA;
    border-radius: 10px;
    background-color: #383838;
    -webkit-transition: background-color 0.2s ease-out;
       -moz-transition: background-color 0.2s ease-out;
         -o-transition: background-color 0.2s ease-out;
            transition: background-color 0.2s ease-out;
}

.navbar .brand {
    margin-left: 10px;
    padding: 15px 5px;
}

    .ireplace {
        position: relative;
        width: 200px;
        height: 40px;
    }

    .ireplace span {
        position: absolute;
        background-image: url("http://lorempixel.com/200/40/cats/");
        background-repeat: no-repeat;
        width: 100%;
        height: 80%;
        font: 0/0 a;
    }

.navbar-inverse .navbar-inner, .navbar-inner {
    margin: auto;
    min-height: 70px;
    max-width: 1200px;
    width: auto;
    opacity: 0.98;
    border: #D5D5D5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px #919191; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
            box-shadow: 0px 0px 5px 1px #919191; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    background-color: #919191;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D1D1D1), to(#CECECE)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #D1D1D1, #CECECE); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #D1D1D1, #CECECE); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, #D1D1D1, #CECECE); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #D1D1D1, #CECECE); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

a.btn.btn-navbar {
    background-image: linear-gradient(to bottom,#AFAFAF,#999999);
    border-color: #BBBBBB #BBBBBB #BBBBBB;
}

    .navbar .btn-navbar .icon-bar {
        background-color: #D6D6D6;
    }

/****************************************
            !! HERO UNIT !! 
****************************************/

.hero-unit {
    padding: 0px;
    margin-top: 120px;
    background-color: #C1ADD1;
    border-top: 5px solid #12A251;
    border-bottom: 5px solid #12A251;
    -webkit-border-radius: 3px; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       -moz-border-radius: 3px;
            border-radius: 3px; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    -webkit-box-shadow: 0px 0px 50px 0px #B7B5B7; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
            box-shadow: 0px 0px 50px 0px #B7B5B7; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}
    .hero-unit section {
        padding: 20px 0 0 0;
    }

    .hero-unit h1 {
        margin-bottom: 20px;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    .hero-unit .box_hero {
        padding-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .hero-unit .offset1 {
        margin-left: 12.6%;
    }
    
    .hero_title {
        position: relative;
        overflow: visible;
        z-index: 1;
        width: 60%;
        margin: 0 20%;
        color: #B4B4B4;
        background-color: #0D1C3E;
    }

    .title {
        position: relative;
        overflow: visible;
        z-index: 1;
        width: 35%;
        margin: 0 32.5%;
        background-image: url("../img/background.jpg");
    }

/****************************************
              !! CONTENT !! 
****************************************/

h2 {
    background-image: url("../img/line.png");
    background-repeat: repeat-x;
    background-position: 0 30%;
    margin-left: 30px;
}

    h2 .no_background {
        background-image: url("../img/background.jpg");
        padding: 0 10px;
    }

section {
    padding: 20px 0;
}

    section a:hover { 
        color: #9F0004;
        -webkit-transition: all 0.4s ease-out; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
           -moz-transition: all 0.4s ease-out;
             -o-transition: all 0.4s ease-out;
                transition: all 0.4s ease-out; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
        text-decoration: none;
    }

    section h1, section h2, section h3, section#projects h4, section#home h4 {
        text-align: center;
    }

    section h2 {
        padding: 10px 0 50px 0;
    }
    
    section#home.row {
        margin-top: 100px;
    }

    section#projects a img {
        opacity: 0.4;
    }
    section#projects {
        position: relative;
    }

        section#projects .divider{
            position: absolute;
            left: 51.2%;
            top: 15.7%;
            bottom: 2%;
            border: 1px solid #A8A8A8;
        }

        section#projects a:hover img {
            opacity: 1;
            -webkit-transition: all 0.2s ease-out; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
               -moz-transition: all 0.2s ease-out;
                 -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
        }

.project_title{
    padding-bottom: 10px;
    border-bottom: 1px solid #B70000;
}

.responsive_border {
display: table;
width: 100%;
table-layout: fixed;
}

    ul.responsive_border {
        margin: 0;
        border-top: 1px solid #B70000;
    }
        
        ul.responsive_border li a strong:after {
            content: " ";
        }

    .responsive_border li {
        display: block;
        padding: 10px 0;
        text-align: center;
        margin: 0;
        display: table-cell;
        border-right: 1px solid #B70000;
    }    

    .responsive_border li:last-child {
        border: none;
    }

.box_hero {
    color: #D0D1CB;
    background-color: #7A2929;
    border: 2px solid #110053;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    -webkit-box-shadow: 0 0 5px #6B6B6B;
       -moz-box-shadow: 0 0 5px #6B6B6B;
            box-shadow: 0 0 5px #6B6B6B; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    -webkit-box-sizing: border-box; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    margin-bottom: 30px;
}

#projects .box_projects {
    color: #303030;
    background-color: #D8D8D8;
    border: 1px solid #B70000;
    -webkit-border-radius: 3px; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       -moz-border-radius: 3px;
            border-radius: 3px; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    -webkit-box-shadow: 0 0 5px #6B6B6B; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       -moz-box-shadow: 0 0 5px #6B6B6B;
            box-shadow: 0 0 2px #6B6B6B; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    -webkit-box-sizing: border-box; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

    #projects .box_projects p {
        padding: 0 10px;
    }

    #projects .box_projects a img {
        box-sizing: border-box;
        padding: 0 5px 5px;
    }

/****************************************
              !! FOOTER !! 
****************************************/

footer  {
    margin: auto;
    min-height: 40px;
    max-width: 1200px;
    margin-top: 30px;
    padding-top: 20px;
    width: auto;
    text-align: center;
    border-color: #D5D5D5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px #919191; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
            box-shadow: 0px 0px 5px 1px #919191; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    background-color: #919191;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D1D1D1), to(#CECECE)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #D1D1D1, #CECECE); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #D1D1D1, #CECECE); /* Firefox 3.6-15 */
    background-image:      -o-linear-gradient(top, #D1D1D1, #CECECE); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #D1D1D1, #CECECE); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {
    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
    section#home.row {
        margin-top: 0;
    }

    h2 {
        margin-left: 20px;
    }

    .hero-unit{
        margin-top: 50px;
    }

    .nav-collapse, .nav-collapse.collapse {
        float: left;
        left: 43%;
        color: #727272;
    }

    .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
            color: #999999;
            font-weight: 400;
        }

        .navbar-inverse .nav-collapse .nav .active>a {
            color: #E6E6E6;
            font-weight: 400;
        }

        .navbar-inverse .nav-collapse .nav>li>a:hover {
            color: #E6E6E6;
            background-color: #383838;
        }

    .hero_title {
        position: relative;
        overflow: visible;
        z-index: 1;
        width: 70%;
        margin: 0 15%;
        background-color: #0D1C3E;
    }

    .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus,
    .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active,
    .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
        color: #fff;
        background-color: #999999;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    h2 {
        margin-left: 0px;
    }

    section {
        padding: 10px 0;
    }

    section#home.row {
        margin-top: 0;
    }
    
    section#projects.row div {
        margin-bottom: 10px;
    }

    section#projects .divider{
            border: none;
        }

    .hero-unit {
        padding-top: 10px;
        margin-top: 20px;
    }

        .hero-unit p {
            border: none;
            padding: 0;
        }

        .hero-unit .offset1 {
            margin-left: auto;
        }

    .hero_title {
        position: relative;
        overflow: visible;
        z-index: 1;
        width: 76%;
        margin: 0 12%;
        background-color: #0D1C3E;
    }
    
     .title {
        position: relative;
        overflow: visible;
        z-index: 1;
        width: auto;
        margin: 0 30%;
        background-image: url("../img/background.jpg");
    }

    .nav-collapse, .nav-collapse.collapse {
        float: left;
        left: 43%;
        color: #2A2A2A;
    }

    .navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {
            color: #999999;
            font-weight: 400;
        }

        .navbar-inverse .nav-collapse .nav .active>a {
            color: #E6E6E6;
            font-weight: 400;
        }

        .navbar-inverse .nav-collapse .nav>li>a:hover {
            color: #E6E6E6;
            background-color: #383838;
        }

    .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus,
    .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active,
    .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
        color: #fff;
        background-color: #999999;
    }

/* Landscape phones and down */
@media (max-width: 480px) {
    
    section#home.row {
        margin-top: 0;
    }
    
    .hero-unit{
        padding-top: 10px;
        margin-top: 20px;
    }

    .nav-collapse, .nav-collapse.collapse {
        float: left;
        left: 43%;
        color: #2A2A2A;
    }
    
    .navbar-inverse .nav-collapse .nav>li>a:hover {
        color: #E6E6E6;
        background-color: #383838;
    }

    .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus,
    .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active,
    .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
        color: #fff;
        background-color: #858585;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}